---
title: CSS Quick Reference
_options:
  layout: app/layouts/article.static.hbs
---

<p>The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.</p>


<h2 id="headings">Headings</h2>

<figure class="examples">
<figcaption>Heading Examples</figcaption>
<h1>software built to empower your real&#x2011;time world</h1>
</figure>

<nav class="links"><a href="headings.html">more deatils</a><a href="#">top</a></nav>

<h2 id="paragraph">Paragraph</h2>

<p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam <em>sit amet sem</em>. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>

<a href="#">[top]</a>

<h2 id="list_types">List Types</h2>
<figure class="examples">
  <figcaption>An example definition list</figcaption>
  <ul>
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipisicing elit</li>
  <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
  </ul>
</figure>

<nav class="links"><a href="lists.html">more deatils</a><a href="#">top</a></nav>

<h2 id="form_elements">Fieldsets, Legends, and Form Elements</h2>

<figure class="examples">
  <figcaption>A login form</figcaption>
  <input type="text" id="username" placeholder="username" class="nio-form__text-field" />
  <input type="text" id="password" placeholder="password" class="nio-form__text-field" />
  <button type="button" id="text_field" class="nio-form__button">Login</button>
</figure>

<nav class="links"><a href="forms.html">more deatils</a><a href="#">top</a></nav>

<h2 id="tables">Tables</h2>

<figure class="examples">
  <figcaption>A Simple Table</figcaption>
  <table>
  <thead>
    <tr>
      <th>First Name</th><th>Last Name</th><th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Crystle</td><td>Moe</td><td>@cmoe</td></tr>
    <tr><td>Thora</td><td>Clontz</td><td>@tclontz</td></tr>
    <tr><td>Page</td><td>Churchwell</td><td>@pchurchwell</td></tr>
  </tbody>
  </table>
</figure>


<nav class="links"><a href="tables.html">more deatils</a><a href="#">top</a></nav>

<h2 id="misc">Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.</h2>

<p>Lorem<sup>superscript</sup> dolor<sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo <abbr title="Avenue">AVE</abbr> vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>

<pre><code>function nio(data) {
  return magic(awesome);
}</code></pre>

<blockquote>
"This stylesheet is going to help so freaking much." <br />-Blockquote
</blockquote>

<a href="#">[top]</a>
