#disqus_thread { @extend %centered-content-area; }

// archive
.blog-list {
  @extend .nio-list, %nio-html, %centered-content-area;

  .blog-summary {
    &__title {
      @extend .nio-heading, .nio-heading--secondary;
      margin-bottom: 0;
    }
    &__byline { @extend .byline-common; }
    &__read-more {
      display: block;
      margin-top: 1rem * $font-line-height;
      font-size: $font-size-small;
    }
  }
}

.confused { @extend %nio-html, %centered-content-area; }

.nio-longform {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__fit { flex-shrink: 0; }
  &__fill { flex-grow: 1; }
}

.byline-common {
  padding-left: 1ch;
  color: $color-mid;
  font-size: $font-size-small;
  margin: { bottom: 1rem * $font-line-height; }
  > * { display: inline; }
  > ::after { content: "\A|\A"; }
  > :last-child::after { content: none; }
}

.nio-longform-header {
  padding-bottom: $dist-huge;
  padding-top: $dist-huge;

  $color-header: $color-white;

  background-color: $color-header;
  border-bottom: darken($color-header, 15%) $dist-hair solid;
  color: mix(black, $color-header, 80);

  &__content {
    @extend %centered-content-area;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    width: 7rem;
    height: 4rem;
    margin-right: 1ch;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    @extend .nio-heading, .nio-heading--secondary;
  }
}


.nio-longform-article {
  &__byline {
    @extend %centered-content-area, .byline-common;
    text-align: right;
  }

  &__content {
    @extend %nio-html, %centered-content-area;
    img { max-width: 100%; }
  }

  &__title {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 1rem * $font-line-height;
    background-image:
      radial-gradient(circle at top left, rgba(black, 0.6), rgba(black, 0)),
      linear-gradient(to top, rgba(black, 0.7), rgba(black, 0)),
      url('images/home.png');
    background-attachment: fixed, scroll, fixed;
    background-size: 2px 2px, cover, cover;
    background-position: center center;
    > h1 {
      @extend %centered-content-area;
      @extend .nio-heading, .nio-heading--primary, .nio-heading--inverted, .nio-heading--centered;
    }
  }
}

.nio-longform-footer {
  text-align: center;
  background-color: #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: $font-size-small;
  margin-top: 1rem;
  &__content {
    @extend %centered-content-area;
  }
}

