---
title: Blog Entries
_options:
  layout: app/layouts/blog-archive.static.hbs
---
<div class="blog-list">
{{blog-list}}
</div>

<div class='confused'>
  <h2>What is this all about?</h2>
  <p>To find out more, check out <a href="./intro.html">our intro&hellip;</a></p>
</div>
