@import "nio";

body {
  font-family: sans-serif;
  max-width: 70vw;
  margin: 0 auto;
}

.nio-heading {
  margin-top: 4.5rem;
}

tr:nth-child(3n+1) {
  white-space: nowrap;
}
.check-mark {
  color: steelblue;
}

.fa {
  position: relative;
  display: inline-block;
  line-height: 0.1em;
  top: 0.5em;
  color: #9C9C9C;
}
