@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:500);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$font-family-sans: 'Open Sans', Helvetica, Arial, sans serif;
$font-family-mono: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-weight-heading: 400;

@import "nio/all";

@import "./scss/helpers";
@import "./scss/index";
@import "./scss/blog";
@import "./scss/guide";
@import "prism";

:root { @extend .nio-sans; }

//*********************

figure {
  @extend .nio-stack-shadow;

  position: relative;
  margin-top: 1rem * $font-line-height;
  margin-bottom: 3rem * $font-line-height;
  max-width: 60rem;

  & > figcaption {
    font-size: $font-size-small;
    font-weight: 600;
    position: absolute;
    top: 100%; right: 0;
    margin-top: $dist-thin;
    padding-top: $dist-normal;
    padding-right: $dist-normal;
    color: $color-mid;
  }
}

.examples {
  @media screen and (min-width: $size-desktop) { margin-left: 0; }
  @extend .nio-boxed, .nio-boxed--bordered;

  &--dark { background-color: #333; }
}


.nio-link-list {
  display: flex;
  justify-content: flex-end;

  &__link {
    margin-left: 0.5ch;
    margin-right: 0.5ch;
    &::before { content: '['; }
    &::after { content: ']'; }
  }
}

.links {
  @extend .nio-link-list;
  > a { @extend .nio-link-list__link; }
}

acronym, abbr {
  cursor: help;
  text-decoration: underline;
  // Firefox
  text-decoration-color: $color-nio;
  text-decoration-style: dotted;
}
