---
_options:
  layout: app/layouts/root.static.hbs
---
<main class="nio-longform">
<header class="nio-longform__fit nio-longform-header">
  <div class="nio-longform-header__content">
  <svg class="nio-longform-header__logo" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#nio-logo--wide" /></svg>
  <h1 class="nio-longform-header__title">Design Blog</h1>
  </div>
</header>

<article class="nio-longform__fill nio-longform-article">
  <div class="nio-longform-article__title">
    <h1>thoughts on designing the internet&nbsp;of&nbsp;things</h1>
  </div>

  <div class="link-list">
    <a class="link-list__item " href="/guide">
      <span class="link-list__name link-list__name--code">Design System</span>
    </a>
    <a class="link-list__item " href="/blog">
      <span class="link-list__name link-list__name--chat">Blog</span>
    </a>
  </div>
</article>

<footer class="nio-longform__fit nio-longform-footer">
  <div class="nio-longform-footer__content">
    Powered by n.io
  </div>
</footer>
</main>
