---
_options:
  layout: app/layouts/root.static.hbs
---
<main class="blog-entry">
<header class="blog-entry__fit blog-header">
  <div class="blog-header__content">
  <svg class="blog-header__logo" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#nio-logo--wide" /></svg>
  <h1 class="blog-header__title">Design Blog</h1>
  </div>
</header>
<article class="blog-entry__fill nio-article">
  {{#if title ~}}
    <div class="nio-article__title">
      <h1>{{title}}</h1>
    </div>
  {{/if}}
  {{content}}
</article>
<footer class="blog-entry__fit blog-footer">
  <div class="blog-footer__content">
    Powered by n.io
  </div>
</footer>
</main>
