---
_options:
  layout: app/layouts/root.static.hbs
---
<header class="guide-header">
  <a class="guide-header__container" href="/guide/">
  <svg class="guide-header__logo"><use xlink:href="#nio-logo--small" /></svg>
  <h1 class="guide-header__title">Design System</h1>
  </a>
</header>

<nav class="guide-sidebar">
<ol>
  <li>
    <div class="list-item">Getting Started</div>
    <ol>
      <li class="list-item list-item--child">BEM Naming</li>
      <li class="list-item list-item--child">Using as CSS</li>
      <li class="list-item list-item--child">Using as SCSS</li>
    </ol>
  </li>
  <li>
    <div class="list-item">Design</div>
    <ol>
      <li class="list-item list-item--child">Overview</li>
      <li><a class="list-item list-item--child" href="typography.html#main">Typography</a></li>
      <li class="list-item list-item--child">Color</li>
    </ol>
  </li>
  <li>
    <div class="list-item">Components</div>
    <ol>
      <li class="list-item list-item--child">Accordian</li>
      <li class="list-item list-item--child">Badges</li>
      <li class="list-item list-item--child">Banners</li>
      <li><a class="list-item list-item--child" href="boxed.html#main">Boxed</a></li>
      <li><a class="list-item list-item--child">Breadcrumbs</a></li>
      <li><a class="list-item list-item--child" href="buttons.html#main">Buttons</a></li>
      <li class="list-item list-item--child">Button Groups</li>
      <li><a class="list-item list-item--child" href="code.html#main">Code</a></li>
      <li class="list-item list-item--child">Figures</li>
      <li><a class="list-item list-item--child" href="forms.html#main">Forms</a></li>
      <li><a class="list-item list-item--child" href="grids.html#main">Grids</a></li>
      <li><a class="list-item list-item--child" href="headings.html#main">Headings</a></li>
      <li><a class="list-item list-item--child">Images</a></li>
      <li><a class="list-item list-item--child" href="lists.html#main">Lists</a></li>
      <li><a class="list-item list-item--child">Loading</a></li>
      <li><a class="list-item list-item--child" >Logos</a></li>
      <li class="list-item list-item--child">Media</li>
      <li class="list-item list-item--child">Navs</li>
      <li><a class="list-item list-item--child" href="quotes.html#main">Quotes</a></li>
      <li><a class="list-item list-item--child">Shadows</a></li>
      <li><a class="list-item list-item--child" href="tables.html#main">Tables</a></li>
      <li class="list-item list-item--child">Tabs</li>
      <li class="list-item list-item--child">Teasers</li>
      <li class="list-item list-item--child">Tooltips</li>
    </ol>
  </li>
  <li>
    <div class="list-item">Streamers</div>
    <ol>
      <li><a class="list-item list-item--child">Bar Chart</a></li>
      <li><a class="list-item list-item--child">Stacked Bar Chart</a></li>
      <li><a class="list-item list-item--child">Column Chart</a></li>
      <li><a class="list-item list-item--child">Bump Chart</a></li>
      <li><a class="list-item list-item--child">Box Plot</a></li>
      <li><a class="list-item list-item--child">Card</a></li>
      <li><a class="list-item list-item--child">Carousel</a></li>
      <li><a class="list-item list-item--child">Dashboard Indicator</a></li>
      <li><a class="list-item list-item--child">Fill Chart</a></li>
      <li><a class="list-item list-item--child">Gauge</a></li>
      <li><a class="list-item list-item--child">Heat Map</a></li>
      <li><a class="list-item list-item--child">Icon</a></li>
      <li><a class="list-item list-item--child">Numeric</a></li>
      <li><a class="list-item list-item--child">Pie Chart</a></li>
      <li><a class="list-item list-item--child">Donut Chart</a></li>
      <li><a class="list-item list-item--child">Scatter Plot</a></li>
      <li><a class="list-item list-item--child">Line Graph</a></li>
      <li><a class="list-item list-item--child">Historic Line Graph</a></li>
      <li><a class="list-item list-item--child">Area Line Graph</a></li>
      <li><a class="list-item list-item--child">Sparkline</a></li>
      <li><a class="list-item list-item--child">Circular Sparkline</a></li>
      <li><a class="list-item list-item--child">Stream Graph</a></li>
      <li><a class="list-item list-item--child">Range Series</a></li>
      <li><a class="list-item list-item--child">Trend Chart</a></li>
      <li><a class="list-item list-item--child">Tree Map</a></li>
      <li><a class="list-item list-item--child">Word Cloud</a></li>
      <li><a class="list-item list-item--child">Waterfall Series</a></li>
      <li><a class="list-item list-item--child">Map</a></li>
    </ol>
  </li>
</ol>
</nav>

<main class="guide-panel" id="main">
  {{#if title}}
  <div class="guide-panel__title">
    <h1>{{title}}</h1>
  </div>
  {{/if}}
  <article class="guide-panel__content">
  {{content}}
  </article>
  <footer class="guide-panel__footer">
    Powered by n.io
  </footer>
</main>
