<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
  <script>require('initialize');</script>
</head>
<body>

<header class="nio-header">
  <div class="nio-header__content">
  <svg class="nio-header__logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 470.82
241.04" height="100px"><defs><style>.cls-1{fill:#ce202a;}.cls-2{fill:#ce232a;}.cls-3{fill:#232020;}.cls-4,.cls-5{fill:#231f20;}.cls-5{font-size:18px;font-family:Nexa
Light;}</style></defs><title>nio-logo-horizontal</title><path
d="M131.07,245.33A120.52,120.52,0,0,1,45.85,39.6,120.52,120.52,0,0,1,216.29,210,119.73,119.73,0,0,1,131.07,245.33Zm0-219.59A99.08,99.08,0,0,0,61,194.87,99.08,99.08,0,0,0,201.13,54.76,98.43,98.43,0,0,0,131.07,25.74Z"
transform="translate(-10.55 -4.3)"/><path class="cls-1"
d="M155.8,72.76c-8.27,3.77-13.7,9.74-15.81,18.47-0.37,1.54-1.12,1.38-2.34,1.19-18.91-2.83-36.31,7.87-41.91,25.72A40.51,40.51,0,0,0,94,130.39c0,7.77.09,15.54-.06,23.31a12.09,12.09,0,0,1-9.35,11.52,12.31,12.31,0,0,1-13.6-6,11.24,11.24,0,0,1-1.48-5.57c0-9,0-17.91.14-26.86,0.54-28,22.42-53.39,49.91-58.26a62.55,62.55,0,0,1,33.86,3A4.66,4.66,0,0,1,155.8,72.76Z"
transform="translate(-10.55 -4.3)"/><path class="cls-2"
d="M189.68,108.76a54.32,54.32,0,0,1,3.5,18.12c0.19,8.86.17,17.73,0.09,26.59a12.28,12.28,0,0,1-24.56-.08c-0.13-9.45.25-18.91-.22-28.35a1.17,1.17,0,0,1,1.19-1.46C178.67,122,185.25,117.12,189.68,108.76Z"
transform="translate(-10.55 -4.3)"/><path class="cls-3"
d="M165.72,113.73A16.32,16.32,0,1,1,182.05,97.5,16.37,16.37,0,0,1,165.72,113.73Z"
transform="translate(-10.55 -4.3)"/><path class="cls-4"
d="M322.73,161.95V129.83c0-9.34-5.1-16.43-14.81-16.43-9.34,0-15.68,7.84-15.68,17.18v31.37H277.17V100.46h13.57l1,8.34c6.22-6.1,12.45-9.21,20.17-9.21,14.44,0,26,10.83,26,30.13v32.24H322.73Z"
transform="translate(-10.55 -4.3)"/><path class="cls-4"
d="M360.32,158.21c0,6.47-9.83,6.47-9.83,0S360.32,151.74,360.32,158.21Z"
transform="translate(-10.55 -4.3)"/><path class="cls-4"
d="M384.71,80.41c0,6.47-9.83,6.47-9.83,0S384.71,73.94,384.71,80.41Zm-8.09,19.79v61.74h6.1V100.21h-6.1Z"
transform="translate(-10.55 -4.3)"/><path class="cls-4"
d="M398.65,131.33c0-19.54,13.94-32,31.24-32s31.24,12.45,31.24,32-13.94,31.49-31.24,31.49S398.65,150.87,398.65,131.33Zm56.51,0c0-15.93-11.33-26.27-25.27-26.27s-25.27,10.33-25.27,26.27,11.33,25.52,25.27,25.52S455.16,147.26,455.16,131.33Z"
transform="translate(-10.55 -4.3)"/><text class="cls-5"
transform="translate(212.7 31.75)">®</text><text class="cls-5"
transform="translate(453.65 110.47)">®</text></svg>
  <h1 class="nio-header__title">Design Blog</h1>
  </div>
</header>

{{content}}

<footer class="nio-footer">
  Powered by n.io
</footer>

</body>
</html>
